{% extends 'base.html' %}
{% block title %} Add new user {% endblock%}
{% block content%}
<h1>Add post for {{user.full_name}}</h1>
<form action="/users/{{user.id}}/posts/new" method="POST">
    <div>
        <label for="title">Title:</label>
        <input id="title" type="text" name="title" required>
    </div>
    <div>
        <label for="content">Content:</label>
        <textarea name="content" id="content" cols="17" rows="5" required></textarea>
    </div>
    {% for tag in tags %}
    <div >
      <input type="checkbox" id="{{tag.tag_id}}" name="tags" value="{{tag.id}}">
      <label  for="tags">{{tag.name}}</label>
    </div>
  {% endfor %}
    <button>Add</button>
    
</form>
<br>
<a href="/users"><button>Cancel</button></a>

{% endblock %}
